<% content_for(:title) { "CGAT Dashboard" } %>

<div class="gridster highcontrast">
  <h1 class="header">CGAT Dashboard - My Pipelines</h1>
  <ul>
    <li data-row="1" data-col="1" data-sizex="7" data-sizey="4">
      <div 
        data-id="project_pipelines" 
        data-view="NestedList"
        data-title="Project pipelines">
      </div>
    </li>

  </ul>
</div>
